<nav class="sb-topnav navbar navbar-expand navbar-dark">
  <img src="assets/images/cyberLink.PNG" class="img-fluid " alt="Responsive image">
  <!-- <a class="navbar-brand">MARY VENTURE</a> -->
  <button (click)="toggle()" class="btn btn-link btn-sm order-1 order-lg-0" id="sidebarToggle"><i
      class="fa fa-bars fa-2x"></i></button>
  <div>
    <marquee behavior="0.1" direction="right">
      <h2 style="margin-bottom: 0px;">FOR<span style="color: #2396d9;">MAS</span> Flight </h2>
    </marquee>
  </div>

  <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">

    <div class="input-group">
      <span class="pr-0 text-right">
        <a class="ui label">
          <i class="mail icon"></i>
          <div class="floating ui red label">22</div>
        </a>
      </span>
    </div>


    <div class="input-group">
      <!-- <label>Signed in as User</label> -->
    </div>
  </form>
  <!-- Navbar-->
  <ul class="navbar-nav ml-auto ml-md-0">
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
        aria-expanded="false"><i class="user icon"></i></a>
      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
        <a class="dropdown-item">Settings</a><a class="dropdown-item">Activity Log</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item">Logout</a>
      </div>
    </li>
  </ul>
</nav>
