<!-- navigation -->
<!-- ======= Header ======= -->

<header id="vichead" class="fixed-top mt-0 mb-0">
  <nav class="navbar navbar-default navbar-expand-xl navbar-light " style="margin-top: 0px;">
    <div class="navbar">
      <marquee behavior="0.2" direction="right">
        <h2 style="margin-bottom: 0px;">FOR<span style="color: #2396d9;">MAS</span> Flight Management </h2>
      </marquee>
      <button type="button" data-target="#navbarCollapse" data-toggle="collapse"
        class="navbar-toggle navbar-toggler ml-auto">
        <span class="navbar-toggler-icon"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <!-- Collection of nav links, forms, and other content for toggling -->
    <div id="navbarCollapse" class="collapse navbar-collapse justify-content-start">
      <ul class="nav navbar-nav float-right">
        <li class="nav-item active"><a href="#hero" class="nav-link">
            Home</a></li>

        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#about">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#contact">Place Order</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#contact">Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" routerLink="/create-airport">Airport</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#contact">Contact Us</a>
        </li>



      </ul>

      <ul class="nav navbar-nav navbar-right ml-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/login"><button class="ui button primary">Login</button><b
              class="caret "></b></a>
        </li>
      </ul>
    </div>
  </nav>

</header>

<!-- End Header -->

<!-- /navigation -->

<!-- ======= Hero Section ======= -->
<section id="hero">
  <div id="heroCarousel" class="carousel slide carousel-fade" data-ride="carousel">

    <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

    <div class="carousel-inner" role="listbox">

      <!-- Slide 1 -->
      <div class="carousel-item active"
        style="background: url(assets/images/aeroplane-bg1jpg.jpg ) no-repeat;background-size: cover;">
        <div class="carousel-container">

          <div class="container">
            <h4 class="animate__animated animate__fadeInDown">TRAVEL MADE EASY</h4>
            <h2 class="animate__animated animate__fadeInDown">Welcome to FOR<span style="color: #2396d9;">MAS</span>
            </h2>
            <p class="animate__animated animate__fadeInUp">
              Dont Hesitate! Booking for your flight today
            </p>
            <a class="btn-get-started animate__animated animate__fadeInUp scrollto">Book A Flight</a>
          </div>
        </div>
      </div>

      <!-- Slide 2 -->
      <div class="carousel-item"
        style="background: url(assets/images/aeroplane-bg.jpg ) no-repeat;background-size: cover;">
        <div class="carousel-container">
          <div class="container">
            <h4 class="animate__animated animate__fadeInDown">TRAVEL MADE EASY</h4>
            <h2 class="animate__animated animate__fadeInDown">Welcome to FOR<span style="color: #2396d9;">MAS</span>
            </h2>
            <p class="animate__animated animate__fadeInUp">
              Dont Hesitate! Booking for your flight today
            </p>
            <a class="btn-get-started animate__animated animate__fadeInUp scrollto">Book A Flight</a>
          </div>
        </div>
      </div>

      <!-- Slide 3 -->
      <div class="carousel-item" style="background-image: url(assets/images/airline-bg.jpg)">
        <div class="carousel-container">
          <div class="container">
            <h4 class="animate__animated animate__fadeInDown">TRAVEL MADE EASY</h4>
            <h2 class="animate__animated animate__fadeInDown">Welcome to FOR<span style="color: #2396d9;">MAS</span>
            </h2>
            <p class="animate__animated animate__fadeInUp">
              Dont Hesitate! Booking for your flight today
            </p>
            <a class="btn-get-started animate__animated animate__fadeInUp scrollto">Book A Flight</a>
          </div>
        </div>
      </div>

    </div>

    <a class="carousel-control-prev" href="#heroCarousel" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon icofont-simple-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>

    <a class="carousel-control-next" href="#heroCarousel" role="button" data-slide="next">
      <span class="carousel-control-next-icon icofont-simple-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>

  </div>
</section><!-- End Hero -->


<!-- ======= Counts Section ======= -->
<section id="about" class="counts">
  <div class="container" data-aos="fade-up">

    <div class="row">

      <div class="col-lg-3 col-md-6">
        <div class="count-box">
          <i class="icofont-users-social"></i>
          <span data-toggle="counter-up">232+</span>
          <p>Customers</p>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mt-5 mt-md-0">
        <div class="count-box">
          <i class="icofont-shopify"></i>
          <span data-toggle="counter-up">7200+</span>
          <p>Store</p>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
        <div class="count-box">
          <i class="icofont-shopping-cart"></i>
          <span data-toggle="counter-up">1,463+</span>
          <p>Products</p>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
        <div class="count-box">
          <i class="icofont-user-suited"></i>
          <span data-toggle="counter-up">15+</span>
          <p>Suppliers</p>
        </div>
      </div>

    </div>

  </div>
</section><!-- End Counts Section -->

<app-footer></app-footer>
