/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: 100vh;
  background-color: rgba(63, 73, 83, 0.8);
  overflow: hidden;
  position: relative;
}

#hero .carousel,
#hero .carousel-inner,
#hero .carousel-item,
#hero .carousel-item::before {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

#hero .carousel-item {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#hero .carousel-item::before {
  content: '';
  background-color: rgba(30, 35, 40, 0.6);
}

#hero .carousel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  top: 70px;
  left: 50px;
  right: 50px;
}

#hero .container {
  text-align: center;
}

#hero h2 {
  color: #fff;
  margin-bottom: 20px;
  font-size: 48px;
  font-weight: 700;
  font-family: 'Permanent-Marker', cursive;
  text-shadow: 2px 2px black;
}

#hero h4 {
  color: #fff;
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 700;

}

#hero p {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
  margin: 0 auto 30px auto;
  color: #fff;
  font-family: 'Lobster', cursive;
  letter-spacing: 3px;
  font-size: 20px;
}

#hero .carousel-inner .carousel-item {
  transition-property: opacity;
  background-position: center top;
}

#hero .carousel-inner .carousel-item,
#hero .carousel-inner .active.carousel-item-left,
#hero .carousel-inner .active.carousel-item-right {
  opacity: 0;
}

#hero .carousel-inner .active,
#hero .carousel-inner .carousel-item-next.carousel-item-left,
#hero .carousel-inner .carousel-item-prev.carousel-item-right {
  opacity: 1;
  transition: 0.5s;
}

#hero .carousel-inner .carousel-item-next,
#hero .carousel-inner .carousel-item-prev,
#hero .carousel-inner .active.carousel-item-left,
#hero .carousel-inner .active.carousel-item-right {
  left: 0;
  transform: translate3d(0, 0, 0);
}

#hero .carousel-control-prev,
#hero .carousel-control-next {
  width: 10%;
  top: 112px;
}

@media (max-width: 992px) {

  #hero .carousel-control-prev,
  #hero .carousel-control-next {
    top: 66px;
  }
}

#hero .carousel-control-next-icon,
#hero .carousel-control-prev-icon {
  background: none;
  font-size: 36px;
  line-height: 1;
  width: auto;
  height: auto;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 50px;
  padding: 10px;
  transition: 0.3s;
  color: rgba(255, 255, 255, 0.5);
}

#hero .carousel-control-next-icon:hover,
#hero .carousel-control-prev-icon:hover {
  background: rgba(255, 255, 255, 0.3);
  color: rgba(255, 255, 255, 0.8);
}

#hero .carousel-indicators li {
  cursor: pointer;
  background: #fff;
  overflow: hidden;
  border: 0;
  width: 12px;
  height: 12px;
  border-radius: 50px;
  opacity: .6;
  transition: 0.3s;
}

#hero .carousel-indicators li.active {
  opacity: 1;
  background: #2396d9;
}

#hero .btn-get-started {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 14px 32px;
  border-radius: 4px;
  transition: 0.5s;
  line-height: 1;
  color: #fff;
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
  background: #2396d9;
}

#hero .btn-get-started:hover {
  background: #fff;
  color: #2396d9;
  border: 1px solid #2396d9;
}

@media (max-width: 992px) {
  #hero {
    height: 100vh;
  }

  #hero .carousel-container {
    top: 8px;
  }
}

@media (max-width: 768px) {
  #hero h2 {
    font-size: 28px;
  }
}

@media (min-width: 1024px) {

  #hero .carousel-control-prev,
  #hero .carousel-control-next {
    width: 5%;
  }
}

@media (max-height: 500px) {
  #hero {
    height: 120vh;
  }
}

a {
  cursor: pointer;
}



/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 60px 0;
  overflow: hidden;
}

.section-bg {
  background-color: #f6f9fe;
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 13px;
  letter-spacing: 1px;
  font-weight: 700;
  padding: 8px 20px;
  margin: 0;
  background: #e7f1fd;
  color: #106eea;
  display: inline-block;
  text-transform: uppercase;
  border-radius: 50px;
}

.section-title h3 {
  margin: 15px 0 0 0;
  font-size: 32px;
  font-weight: 700;
}

.section-title h3 span {
  color: #106eea;
}

.section-title p {
  margin: 15px auto 0 auto;
  font-weight: 600;
}

@media (min-width: 1024px) {
  .section-title p {
    width: 50%;
  }
}



/*--------------------------------------------------------------
# vichead
--------------------------------------------------------------*/
#vichead {
  background: white;
  transition: all 0.5s;
  z-index: 997;
  padding: 5px 0;
  /* box-shadow: 0 2px 10px -2px rgba(2, 2, 2, 0.486); */
}

#vichead.vichead-scrolled {
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  padding: 12px 0;
}

#vichead.vichead-inner-pages {
  box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.1);
}


#vichead .logo {
  font-size: 28px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 700;
  text-transform: uppercase;
}

#vichead .logo a {
  color: #556270;

}

#vichead .nav-item a {
  text-transform: uppercase;

  /* word-spacing: 4px; */
}

#vichead .nav .active>a {
  color: black !important;
  border: px solid #7d99be78;
}

#vichead .logo img {
  max-height: 40px;
}

@media (max-width: 992px) {
  #vichead {
    padding: 12px 0;
  }
}

/*--------------------------------------------------------------
  # Navigation Menu
  --------------------------------------------------------------*/
/* Desktop Navigation */
.nav-menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu>ul {
  display: flex;
}

.nav-menu>ul>li {
  position: relative;
  white-space: nowrap;
  padding: 12px 0 12px 28px;
}

.nav-menu a {
  display: block;
  position: relative;
  color: #556270;
  transition: 0.3s;
  font-size: 15px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
}

.nav-menu a:hover,
.nav-menu .active>a,
.nav-menu li:hover>a {
  color: #2396d9;
}

.nav-menu .drop-down ul {
  display: block;
  position: absolute;
  left: 15px;
  top: calc(100% + 30px);
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  padding: 10px 0;
  background: #fff;
  /* box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25); */
  transition: 0.3s;
}

.nav-menu .drop-down:hover>ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.nav-menu .drop-down li {
  min-width: 180px;
  position: relative;
}

.nav-menu .drop-down ul a {
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 500;
  text-transform: none;
  color: #556270;
}

.nav-menu .drop-down ul a:hover,
.nav-menu .drop-down ul .active>a,
.nav-menu .drop-down ul li:hover>a {
  color: #2396d9;
}

.nav-menu .drop-down>a:after {
  content: "\ea99";
  font-family: IcoFont;
  padding-left: 5px;
}

.nav-menu .drop-down .drop-down ul {
  top: 0;
  left: calc(100% - 30px);
}

.nav-menu .drop-down .drop-down:hover>ul {
  opacity: 1;
  top: 0;
  left: 100%;
}

.nav-menu .drop-down .drop-down>a {
  padding-right: 35px;
}

.nav-menu .drop-down .drop-down>a:after {
  content: "\eaa0";
  font-family: IcoFont;
  position: absolute;
  right: 15px;
}

@media (max-width: 1366px) {
  .nav-menu .drop-down .drop-down ul {
    left: -90%;
  }

  .nav-menu .drop-down .drop-down:hover>ul {
    left: -100%;
  }

  .nav-menu .drop-down .drop-down>a:after {
    content: "\ea9d";
  }
}

/* Get Startet Button */
.get-started-btn {
  margin-left: 25px;
  background: #2396d9;
  color: #fff;
  border-radius: 4px;
  padding: 8px 30px 9px 30px;
  white-space: nowrap;
  transition: 0.3s;
  font-size: 14px;
  display: inline-block;
}

.get-started-btn:hover {
  background: #fff;
  color: #2396d9;
  border: 1px solid #2396d9;
}

@media (max-width: 768px) {
  .get-started-btn {
    margin: 0 48px 0 0;
    padding: 6px 18px;
  }
}

/* Mobile Navigation */
.mobile-nav-toggle {
  position: fixed;
  right: 15px;
  top: 15px;
  z-index: 9998;
  border: 0;
  background: none;
  font-size: 24px;
  transition: all 0.4s;
  outline: none !important;
  line-height: 1;
  cursor: pointer;
  text-align: right;
}

.mobile-nav-toggle i {
  color: #556270;
}

.mobile-nav {
  position: fixed;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  z-index: 9999;
  overflow-y: auto;
  background: #fff;
  transition: ease-in-out 0.2s;
  opacity: 0;
  visibility: hidden;
  border-radius: 10px;
  padding: 10px 0;
}

.mobile-nav * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.mobile-nav a {
  display: block;
  position: relative;
  color: #556270;
  padding: 10px 20px;
  font-weight: 500;
  outline: none;
}

.mobile-nav a:hover,
.mobile-nav .active>a,
.mobile-nav li:hover>a {
  color: #2396d9;
  text-decoration: none;
}

.mobile-nav .drop-down>a:after {
  content: "\ea99";
  font-family: IcoFont;
  padding-left: 10px;
  position: absolute;
  right: 15px;
}

.mobile-nav .active.drop-down>a:after {
  content: "\eaa1";
}

.mobile-nav .drop-down>a {
  padding-right: 35px;
}

.mobile-nav .drop-down ul {
  display: none;
  overflow: hidden;
}

.mobile-nav .drop-down li {
  padding-left: 20px;
}

.mobile-nav-overlay {
  width: 100%;
  height: 100%;
  z-index: 9997;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(63, 73, 83, 0.6);
  overflow: hidden;
  display: none;
  transition: ease-in-out 0.2s;
}

.mobile-nav-active {
  overflow: hidden;
}

.mobile-nav-active .mobile-nav {
  opacity: 1;
  visibility: visible;
}

.mobile-nav-active .mobile-nav-toggle i {
  color: #fff;
}

.banner-form-w3 {
  padding: 12vw 0 0vw;
  box-sizing: border-box;
}

h3.b-w3ltxt span {
  color: #fff;
}

h3.b-w3ltxt {
  font-size: 3.5em;
  color: #fff;
  font-weight: 600;
  text-shadow: 1px 1px 0px #333;
}

h4.b-w3ltxt {
  font-size: 3em;
  letter-spacing: 3px;
  font-weight: 300;
  color: #fff;
}

.btn-banner {
  background: #3369e7;
  color: #fff;
  font-size: 15px;
  letter-spacing: 1px;
  padding: 12px 30px;
  display: inline-block;
}

.btn-banner:hover {
  color: #fff;
}

.form-style-w3ls input[type="text"],
.form-style-w3ls input[type="email"],
.form-style-w3ls input[type="password"],
select {
  outline: none;
  font-size: 14px;
  border: none;
  color: #666;
  background: #f1f1f1;
  letter-spacing: 0.5px;
  padding: 14px 20px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 15px;
}

.form-style-w3ls button.btn {
  color: #fff;
  background: #3369e7;
  border: none;
  padding: 14px 0;
  outline: none;
  border-radius: 0;
  width: 100%;
  font-size: 15px;
  cursor: pointer;
  letter-spacing: 1px;
  -webkit-transition: 0.5s all;
  -o-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -ms-transition: 0.5s all;
  transition: 0.5s all;
}

.form-style-w3ls input[type="submit"]:hover {
  background: #dc3545;
}

.padding {
  padding: 2.5em;
  background: #fff;
}

.form-style-w3ls span {
  font-size: 13px;
  color: #666;
}

.form-style-w3ls span a {
  color: #3369e7;
}


/*-- //banner --*/


/*--------------------------------------------------------------
# Counts
--------------------------------------------------------------*/
.counts {
  padding: 70px 0 70px;
}

.counts .count-box {
  padding: 30px 30px 25px 30px;
  width: 100%;
  position: relative;
  text-align: center;
  background: #f1f6fe;
}

.counts .count-box i {
  position: absolute;
  top: -28px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 24px;
  background: #106eea;
  padding: 12px;
  color: #fff;
  border-radius: 50px;
  border: 5px solid #fff;
}

.counts .count-box span {
  font-size: 36px;
  display: block;
  font-weight: 600;
  color: #062b5b;
  margin-bottom: 12px;
  margin-top: 10px;
}

.counts .count-box p {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}




.homepageHero {
  margin-top: 100px;
  margin-bottom: 100px;
  color: white;
}

.homepageHero {
  max-width: 768px;
  margin: 0 auto;
  text-shadow: 1px 2px 5px rgb(190, 183, 183);
  color: white;
}

.inline-form {
  background-color: white;
  padding: 10px;
  border: 1px solid white;
  border-radius: 6px;
}

.inline-form input {
  border: 2px solid #3A95B5;

}

.inline-form input:focus {
  /* border: 1px solid blue; */
  border: 2px solid #3A95B5;
}

.inline-form button {
  background-color: #3A95B5;
  font-size: 16px;
  border: 2px solid #3A95B5;
  box-shadow: 0 0 10px rgba(114, 108, 108, 0.25);

}

.btn-primary {
  background-color: #3A95B5;
  font-size: 16px;
  border: 2px solid #3A95B5;
  box-shadow: 0 0 10px rgba(253, 253, 253, 0.25);
}

.jumbotron {
  margin-bottom: -18%;
  border-bottom: 20% solid;
  border-color: #3A95B5;

}

.jumbotron i {
  color: #3A95B5;
  font-size: 20px;
}

.jumbotron p {
  font-size: 18px;
}

.jumbotron img {
  width: auto;
  vertical-align: auto;
  height: 30%;
  text-align: center;
}
