<!-- <body class="sb-nav-fixed"> -->
  <app-header></app-header>
  <!-- <body class="sb-nav-fixed"> -->
  <div id="layoutSidenav">
    <!-- Sidebar -->
    <div id="layoutSidenav_nav">
      <app-sidebar></app-sidebar>
    </div>
  
    <!-- Sidebar -->
  
    <div id="layoutSidenav_content">
      <main>
        <div class="container-fluid">
  
          <router-outlet></router-outlet>
          <app-footer></app-footer>
        </div>
      </main>
      <!-- <app-footer></app-footer> -->
    </div>
  </div>